logs
project/project
project/target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

/bin/kafka
/bin/secor

target
target/
!shared/app/models/target
!shared/app/services/target
!shared/app/models/queries/target
/.lib/
*.iml
*~
/.ensime
/.ensime_cache
.idea
*.cache
*.classpath
*.project
*.settings/
*.scalastyle
boot/
lib_managed/
src_managed/
project/plugins/project/
.DS_Store
logs/
*.orig
tags

/storage/models
